a {
    color: #9a27af;
}

a:hover {
    color: #9a27af;
    text-decoration: underline;
}

h1, h2, h3, h4, p, li, strong {
    color: #011126;
}

.lvl-color-black-pearl {
    color: #011126;
}

.lvl-color-medium-aquamarine {
    color: #66EFAC;
}

.lvl-color-violet-eggplant {
    color: #9A27AF;
}

.lvl-color-banana-yellow {
    color: #FFD832;
}

.lvl-nav--links, .navbar-nav>li>a.lvl-nav--links {
    color: #011126;
    background-color: transparent;
    outline: none;
    margin-bottom: -2px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 700;
    padding: 20px 5px;
    display: inline-block;
}

.lvl-nav--links:hover {
    color: #011126;
    text-decoration: none;
}

.lvl-hero--section {
    background-color: #011126
}

.lvl-hero--block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lvl-hero--text {
    max-width: 350px;
}

.lvl-hero--text h1 {
    color: white;
}

.lvl-hero--logo {
    max-width: 490px;
    display: inline-block;
}

.lvl-side-by-side--container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lvl-diversity-section {
    background-color: #f4f5f7;
}

.container h3 {
    margin-bottom: 15px;
}

.container p {
    margin-bottom: 20px;
}

.lvl-side-by-side--emoji {
    text-align: center;
}

.lvl-section-title--container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lvl-section-title--container h3 {
    max-width: 600px;
    margin-top: 10px;
}

.lvl-section-title--container p {
    max-width: 600px;
}

.lvl-row {
    display: flex;
}

.lvl-pricing-box--active:hover {
    text-decoration: none;
    /* box-shadow: 0 1px 1px 0 rgba(102, 239, 172, 0.1), 0 10px 20px 0 rgba(102, 239, 172, 0.4); */
    box-shadow: 0 1px 1px 0 rgba(102, 239, 172, 0.1), 0 10px 20px 0 rgba(102, 239, 172, 0.2);
}

.lvl-pricing-box {
    padding: 110px 20px;
    margin: 25px;
    text-align: center;
    height: 90%;
}

.lvl-pricing-box--passed h1, .lvl-pricing-box--passed h3 {
    color: #adadad;
}

.lvl-pricing-box--passed {
    background-color: #efefef;
}

.lvl-pricing-box--next {
    background-color: transparent;
    border: 10px dashed #efefef;
}

.lvl-pricing-background-container {
    position: absolute;
    top: 0;
    height: 50px;
    width: 100%;
}

.lvl-pricing-background {
    background-color: #f4f5f7;
    width: 100%;
    height: 500px;
}

.lvl-curve {
    transform: rotate(180deg);
    margin: -1px;
}

.lvl-sponsor-container {
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.lvl-sponsor-exabyte {
    max-height: 300px;
}

.lvl-contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f5f7;
    padding: 50px;
}

.lvl-contact-container h3 {
    margin-bottom: 5px;
}

.lvl-contact-container h4 {
    margin-top: 5px;
}

.lvl-contact-container h3 a, .lvl-contact-container h4 a {
    color: #9a27af;
}

.emoji {
    height: 200px;
}

.lvl-tickets-button {
    box-shadow: 2px 2px #011126;
    background-color: #67efac;
    border: 3px solid #011126;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 700;
    color: #011126;
    display: inline-block;
}

.lvl-tickets-button--nav {
    float: right;
    margin: 5px 0 7px;
    padding: 8px 33px;
}

.lvl-tickets-button--hero {
    padding: 15px 45px;
}

.lvl-tickets-button:hover, .lvl-tickets-button--hero:hover {
    text-decoration: none;
    color: #011126;
    box-shadow: 0 0 0;
    transform: translate(2px, 2px);
}

.lvl-nav-min {
    display: none;
}

.footer {
    background-color: #011126;
}

.footer h3 {
    color: white;
}

.footer h3 a:hover {
    color: white;
}

.footer h3 a {
    text-decoration: underline;
}

.lvl-copy-right {
    text-align: center;
    margin-top: 75px;
}

.lvl-indent-content {
    padding: 0px;
}

.lvl-indent-content li {
    padding: 0 40px;
}

.lvl-inline-emoji {
    height: 2rem;
}

.lvl-header-emoji {
    height: 4rem;
}

.lvl-page-header--supporting-text {
    max-width: 600px;
    margin: 0 auto;
}

@media(max-width: 992px) {
    .lvl-nav-min {
        display: inline-block;
    }

    .lvl-nav-max {
        display: none;
    }

    .lvl-nav--home {
        float: left;
        margin-left: 35px;
    }

    .lvl-hero--block {
        display: inherit;
        text-align: center;
    }

    .lvl-hero--text {
        display: inline-block;
        margin-bottom: 40px;
    }

    .lvl-side-by-side--container {
        display: inline-block;
    }

    .lvl-side-by-side--emoji {
        margin: 60px 0;
    }

    .lvl-row {
        display: inherit;
        text-align: center;
    }

    .lvl-pricing-box--passed {
        display: none;
    }
    
    .lvl-pricing-box--next {
        display: none;
    }

    .lvl-contact-container {
        display: inherit;
    }

    .lvl-indent-content {
        padding: 0;
    }
    .lvl-indent-content li {
        padding: 0 10px;
    }
}